<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Container Leasing</title>
</head>
<body bgcolor="skyblue">
<form method="POST">
    {% csrf_token %}
        <div class="home">
            <center>
            <h1><u>EQUIPMENT LEASING</u></h1>
            <br>
            <br>
            <br>
                <a href="/adminlog">
                    <label>☞ Admin</label>
                </a>
                <br>
                <br>
                <a href="/lessorlog">
                    <label>☞ Lessor</label>
                </a>
                <br>
                <br>
                <a href="/lesseelog">
                    <label>☞ Lessee</label>
                </a>
                </center>
        </div>
</form>
</body>
</html>