<html>
    {%load static%}
    <head>
        <title>Container Leasing</title>
        <link rel="stylesheet" href="{% static 'adminhome.css' %}">
    </head>
    <body>

            <nav>
                <label class="adminhome">Welcome Lessee</label>
                <ul>
                    <li>
                        <a href="/lessee_home">home</a>
                    </li>
                    <li>
                        <a href="/lessee_editprofile">edit profile</a>
                    </li>
                    <li>
                        <a href="/lessee_view_container_list">view container list</a>
                    </li>
                    <li>
                        <a href="/lessee_view_leasing_list">view leasing list</a>
                    </li>
                    <li>
                        <a href="/">Logout</a>
                    </li>
                </ul>
            </nav>

    </body>
</html>