<html>
    {%load static%}
    <head>
        <title>Container Leasing</title>
        <link rel="stylesheet" href="{% static 'adminhome.css' %}">
    </head>
    <body>

            <nav>
                <label class="adminhome">Welcome Lessor</label>
                <ul>
                    <li>
                        <a href="/lessor_home">home</a>
                    </li>
                    <li>
                        <a href="/lessor_editprofile">edit profile</a>
                    </li>
                    <li>
                        <a href="/lessor_addcontainer">add container</a>
                    </li>
                    <li>
                        <a href="/lessor_updatecontainer">update container</a>
                    </li>
                    <li>
                        <a href="/lessor_view_leased_container"> view leased container</a>
                    </li>
                    <li>
                        <a href="/">Logout</a>
                    </li>
                </ul>
            </nav>

    </body>
</html>